.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Header Section */

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 230px;
}
ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 51px;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
}
.text-size2 {
  font-size: 45px;
  font-weight: 800;
}
.text-orange {
  color: #fd6e0a;
}
.text-dark {
  color: #474747;
}
.btn-primary {
  border: none;
  width: 150px;
  height: 64px;
  background-color: #fd6e0a;
  color: aliceblue;
  font-size: 25;
  font-weight: 800;
  border-radius: 5px;
}

.hdr-bg-img {
  background-image: url(/img/developer.png), url(/img/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
